body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(35,35,35);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    border-style: none !important;
}

.searchMail .ui-widget-content td {
    padding: 10px 0;
    border: 1px solid red;
}