body {    
    height: 100%;
    width: 100%;
    background: rgb(35,35,35);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ui-datatable-data ui-widget-content{
    border-style: none !important;
}